#Title{
    text-align: center;
    background-color: beige;
}
body{
    background-color: rgb(248, 253, 222);
}
#Questions{
    border: grey solid 5px;
    margin: 0px 20px;
}
#enquiry{
    background-color: rgb(207, 201, 202);
}
#intro2 > .List{
    background-color: red;
}
#Intro{
    text-align: center;
    text-decoration: underline;
}
.ListData{
    font-weight: bold;

}
#ListData1{
    font-weight: bold;
}
#ListData2{
    font-weight: bold;
}
#graph{
    
}
#img{
    width: 100%;
}

ul.nav-menu {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li.nav-item {
    float: left;
}

li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li.nav-item a:hover {
    background-color: #555;
}